@charset "UTF-8";
/*@import url("globalStyleAndCommonProperties.css");*/
@import url("PC_globalStyleAndCommonProperties.css");

//defined_混合宏;
	@mixin num($w,$h){
		width:$w;
		height:$h;
	}

//defined_Var
	$bg:background;




//content
body{
	background:blue;
}

.tuilamen{
	@include num(600px,200px);
	margin:0 auto;
	overflow:hidden;
	&>ul{
		@include num(100%,100%);
		display:flex;
		position:relative;
		background:red;
		&>li{
			@include num(auto,100%);
			position:absolute;
			left:0;
			img{
				@include num(400px,200px);
				
			}
		}
	}
}







/*报错					
		捕获:Uncaught			引用错误:ReferenceError			定义:defined			
		语法错误:SyntaxError	参数要求:arguments required		标记:token
		不能:Cannot				设置:set						属性property
		阅读:read				标识符:identifier				执行:execite
		未能:failed				元素:element					意外:Unexpected
		执行:implement			开始:start						保存:save 
		用户user				省份:province							

		日常单词:(长)
			轮播:carousel			购物:shopping						导航:navigation			常用:common
			属性:Properties			透明:transparent					车:trolley				封装:Encapsulation
			验证器:validator		用户名:username						文件:document			随机的:Random
			准备:prepare			返回:return							替换:change				改变:change
			照片:picture			小时:Hours							分钟:minutes			秒钟:Seconds
			乘法:multiplication		查询:query							过滤:filter				当前:current
			
		日常单词:(短)
			图:map		盒子:box		最少值:min		点击:click		定时器:timer	播放:play
			内:inner		电话:phone	显示:show		获得:get			元素:element	通过:by
			值:value		的:of			我:i				做:make			个:individual	数学:Math
			年龄:age		钟:clock		区:district		标签:tag			开始:start	


		颜色:
			红色:red	蓝色:blue	绿色:green	粉色:pink	白色:white	紫色:purple	黑色:black
			灰色:gray

		英文1-20:
			01:one			02:two			03:three			04:four			05:five			06:six	
			07:seven			08:eight			9:nine			10:ten			11:eleven		12:twelve		
			13:thirteen		14:fourteen		15:fifteen		16:sixteen		17:seventeen	18:eighteen 
			19:nineteen		20:twenty

		css知识点:
			在前面添加一个盒子:before{content:"";}
			在后面添加一个盒子:after{content:"";}
		  	同元素选择器:nth-child(1){}
		  	行内块级元素:display:inline-block
			透明度:opacity
			清除浮动:<div style="clear:both"></div>
			字体:font-family:"Arial"
			鼠标样式跳转小手:cursor: pointer;
			Good morning I hope you have a good time every.and you will become you want once day
	*/